
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 150px;
    height: 125px;
    /* margin: 0px; */
    /* padding: 0px; */
}

.logo img{
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

h3{
    /* text-align: center; */
    /* margin: 0; */
    display: block;
    width: 15%;
}


